.animacionInfinita{      
    display: grid;
    justify-content: center;
    font-family: var($font-principal);
    color: map-get($colors,color-negro )
}
.img.imagenes-containerGalery{
    @include sixes(400px,300px);
}