@keyframes maquina {
  from {
    width: 100%; }
  to {
    width: 75%; }
  from {
    width: 75%; }
  to {
    width: 120%; } }

body {
  margin: 0;
  padding: 0;
  background-color: #2e354f; }

.animacionInfinita {
  display: grid;
  justify-content: center;
  font-family: monospace;
  animation-delay: 1s;
  animation: maquina 7s infinite alternate; }

.cabeza {
  background-color: black;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .cabeza__logo {
    display: grid;
    margin: 20px;
    margin-top: 60px; }
  .cabeza__menu {
    display: grid;
    justify-content: center; }
    .cabeza__menu__subMenu a {
      color: white;
      animation: saltar 2s infinite;
      animation-delay: 0s;
      transform: translateY(0);
      display: inline-block;
      animation-timing-function: ease-in; }
    .cabeza__menu__subMenu li {
      font-weight: 600;
      list-style: none;
      display: inline-block;
      margin: 0 20px; }

.pie {
  display: flex;
  background-image: linear-gradient(#2e354f, #2e354f, white, #2e354f, #2e354f);
  flex-direction: column;
  background-color: black;
  margin-top: 0px; }
