body{
    margin: 0;
    padding: 0;
    background-color: rgb(46, 53, 79)
}
.cabeza{
    background-image: linear-gradient(rgb(46, 53, 79),rgb(46, 53, 79),white,rgb(46, 53, 79),rgb(46, 53, 79));
    display: grid;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.logo{
    display: grid;
    margin: 20px;
    margin-top: 60px;
}
.menu{
    display: grid;
    justify-content: center;
}
h1.titulo{
    display: grid;
    justify-content: center;
}
.fotolinea{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}
.p1{
    display: inline;
}
.subMenu a{
    color: white;
}
.subMenu li{
    font-weight: 600;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.pie{
    background-image: linear-gradient(rgb(46, 53, 79),rgb(46, 53, 79),white,rgb(46, 53, 79),rgb(46, 53, 79));
    flex-direction: column;
    background-color: black;
    margin-top: 40px;
}
.diegote{
    height: 800px;
    width: 47%;
    margin-left: 38px;
    background-color: rgb(22, 81, 190);
}
.mess10{
    height: 800px;
    width: 49%;
}
.pelotaSagrada{
    height: 1400px;
    display: flex;
    width: 100%;
}
.imagenes-containerGaleria{
    display: grid;
}
.textoLargo{
    font-size: large;
    justify-content: space-evenly;
    display: flex;
    width: 300px;
}
.h1Animado{
}
.animacionInfinita{
    display: grid;
    justify-content: center;
    font-family: monospace;
    animation-delay: 1s;
    animation: maquina 7s infinite alternate; 
}
@keyframes maquina {
    from{
        width: 100%;
    }
    to{
        width: 75%;
    }
    from{
        width: 75%
    }
    to{
        width: 120%;
    }
}
.subMenu a{
    animation: saltar 2s infinite;
    animation-delay: 0s;
    transform: translateY(0);
    display: inline-block;
    animation-timing-function: ease-in;
}
@keyframes saltar{
    0%{
        transform: translateY(4px);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(10px);
    }
}
@media (max-width: 480px){
    .diegote{
        width: 400px;
    }
    .mess10{
        width: 400px;
        margin-left: 38px;
    }
    .logo{
        justify-content: center;
    }
    .fotolinea{
        display: grid;
        grid-template-columns: 100px;
        justify-content: center;
    }
    h1.titulo{
        display: flex;
        justify-content: center;
        max-width: 54px;
    }
    .imagenes-containerGaleria{
        display: flex;
        justify-content: center;
    }
}