.pie{
    display: flex;
    background-image: linear-gradient(rgb(46, 53, 79),rgb(46, 53, 79),white,rgb(46, 53, 79),rgb(46, 53, 79));
    flex-direction: column;
    background-color: black;
    margin-top: 0px;
}